@import "header.css";
@import "main.css";
@import "services.css";
@import "tours.css";
@import "people.css";
@import "gallery.css";
@import "footer.css";
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.banner-header,
.banner-footer {
  display: block;
  width: 100%;
}
