body {
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
}
.banner {
  display: block;
  width: 100%;
}
.navbar-panel {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-panel-contacts {
  display: flex;
}
.time {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 1.3em;
  padding: 15px;
  color: #01b3a7;
}
.line {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 25px;
  opacity: 10%;
}
.phone {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.link-phone {
  text-decoration: none;
  color: #151515;
}
.link-phone:hover {
  color: #50ba87;
  transition: 0.3s;
}
.navbar-panel-button {
  border: 2px solid #01b3a7;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  color: #243238;
}

.navbar-panel-button:hover {
  background-color: #50ba87;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid #50ba87;
}
